@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
:root{
    --bgColor: #333;
    --textPrimary: #fff;
    --textSecondary: #666;
    --primaryColor: #fd4;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color:var(--bgColor);
    color: var(--textPrimary);
    font-size: 1.4rem;
}
main{
    width: 600px;
    margin: 50px auto;
}
h1{
    color: var(--primaryColor);
}
h1 svg{
    width: 7%;
    height: auto;
    fill: var(--primaryColor);
}

h1 svg, h1 span {
    vertical-align: middle;
}

#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 6px 30px;
}
#buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Espacio entre los botones */
}
#info{
    color: var(--primaryColor);
}
button{
    background: rgba(255,255,255,.2);
    border:0;
    color: rgba(255,255,255,.5);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button.active {
    background: var(--primaryColor);
    color: var(--bgColor);
}
div#game{
    line-height:35px;
    height:105px;
    overflow: hidden;
    position: relative;
    background-color:#333;
}
div#game:focus{
    outline:0;
}
#words{
    filter: blur(5px);
    color: var(--textSecondary);
}
#game:focus #words{
    filter: blur(0);
}
#focus-error {
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 35px;
}
#game:focus #focus-error{
    display:none;
}
div.word{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin: 0 5px;
    position: relative;
}
.letter{
    position: relative; 
}
.letter.correct{
    color: #fff;
}
.letter.incorrect{
    color: #f55;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*LINEA PREVIA A LA LETRITA*/
.letter.current::before {
  content: "";
  position: absolute;
  left: -3px; /* Ubicar la barra a la izquierda de la letra */
  top: 0;
  height: 100%; /* Hacer la barra de la misma altura que la letra */
  width: 0.1em; /* Establecer el grosor de la barra */
  background-color: var(--primaryColor);
  animation: titileo 1s infinite; /* Animación de titileo */
}
@keyframes titileo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#game-over {
    display: none;
    text-align: center;
    background-color: var(--bgColor);
    color: var(--textPrimary);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
}

#game-over.hidden {
    display: none;
}

#game-over.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#restartBtn {
    cursor: pointer;
    background-color: var(--bgColor);
    font-size: 2rem; /* Ajusta el tamaño del ícono */
    color: var(--primaryColor);
}

#final-wpm {
    color: var(--primaryColor);
}

#game.hidden {
    display: none;
}



/* Ocultar el header cuando el game-over está visible */
#game-over.visible ~ #header {
    display: none;
}
/*Ocultar los botones de idioma cunado el game-over esta*/
#gameme-over.visible ~ #language-buttons {
    display: none;
}
/* Ocultar el scoreboard por defecto */
#scoreboard {
    display: none;
}

/* Mostrar el scoreboard cuando el game-over está visible */
#game-over.visible ~ #scoreboard {
    display: block;
}

/*PUNTAJES*/
#scoreboard {
    display: none;
    margin-top: 300px;
    text-align: left;
}

/* Mostrar el scoreboard cuando el game-over está visible */
#game-over.visible + #scoreboard {
    display: block;
}

#scoreboard table {
    width: 100%;
    border-collapse: collapse;
}

#scoreboard th, #scoreboard td {
    border: 1px solid var(--primaryColor);
    padding: 10px;
    color: var(--textPrimary);
}

#scoreboard th {
    background-color: var(--primaryColor);
    color: var(--bgColor);
}

/*LANGUAGE BUTTONS*/
#language-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.language-button {
    width: 100px;
    height: 100px;
    background-color: var(--bgColor);
    color: var(--textPrimary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
}