@import url('https://fonts.googleapis.com/css2?family=Chicle&family=DM+Serif+Text:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Michroma&display=swap');
:root{
    --bgColor: #95c6f5;
    --bgSecondaryColor: #ae5acf;
    --textPrimary: #fff;
    --textSecondary: #666;
    --primaryColor: rgb(51, 107, 228);
}
body{
    font-family: 'Jost', sans-serif;
    background-color:var(--bgColor);
    color: var(--textPrimary);
    font-size: 1.4rem;
}
main{
    width: 600px;
    margin: 50px auto;
}

h1{
    width: 7%;
    height: auto;
    color: var(--primaryColor);
    font-family: 'Jost', sans-serif;
}

#completo{
    display: none;
}

#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 6px 30px;
}
#buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Espacio entre los botones */
}
#info{
    color: var(--primaryColor);
}
button{
    background: var(--textSecondary);
    border:0;
    color: var(--textPrimary);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    
}
button.active {
    background: var(--primaryColor);
    color: var(--textPrimary);
}
div#game{
    line-height:35px;
    height:105px;
    overflow: hidden;
    position: relative;
    background-color:var(--bgColor);
}
div#game:focus{
    outline:0;
}
#words{
    filter: blur(5px);
    color: var(--textSecondary);
}
#game:focus #words{
    filter: blur(0);
}
#focus-error {
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 35px;
}
#game:focus #focus-error{
    display:none;
}
div.word{
    display: inline-block;
    font-family: 'Roboto', monospace;
    margin: 0 5px;
    position: relative;
}
.letter{
    position: relative; 
}
.letter.correct{
    color: var(--textPrimary);
}
.letter.incorrect{
    color: #f55;
}

/*LINEA PREVIA A LA LETRITA*/
.letter.current::before {
  content: "";
  position: absolute;
  left: -3px; /* Ubicar la barra a la izquierda de la letra */
  top: 0;
  height: 100%; /* Hacer la barra de la misma altura que la letra */
  width: 0.1em; /* Establecer el grosor de la barra */
  background-color: var(--primaryColor);
  animation: titileo 1s infinite; /* Animación de titileo */
}
@keyframes titileo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#game-over {
    display: none;
    text-align: center;
    background-color: var(--bgColor);
    color: var(--textPrimary);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
}

#game-over.hidden {
    display: none;
}

#game-over.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#restartBtn {
    cursor: pointer;
    background-color: var(--bgColor);
    font-size: 2rem; /* Ajusta el tamaño del ícono */
    color: var(--primaryColor);
}

#final-wpm {
    color: var(--primaryColor);
}

#game.hidden {
    display: none;
}

/* Ocultar el header cuando el game-over está visible */
#game-over.visible ~ #header {
    display: none;
}
/*Ocultar los botones de idioma cunado el game-over esta*/
#gameme-over.visible ~ #language-buttons {
    display: none;
}
/* Ocultar el scoreboard por defecto */
#scoreboard {
    display: none;
}

/* Mostrar el scoreboard cuando el game-over está visible */
#game-over.visible ~ #scoreboard {
    display: block;
}

/*PUNTAJES*/
#scoreboard {
    display: none;
    margin-top: 300px;
    text-align: left;
}

/* Mostrar el scoreboard cuando el game-over está visible */
#game-over.visible + #scoreboard {
    display: block;
}

#scoreboard table {
    width: 100%;
    border-collapse: collapse;
}

#scoreboard th, #scoreboard td {
    border: 1px solid var(--primaryColor);
    padding: 10px;
    color: var(--textPrimary);
}

#scoreboard th {
    background-color: var(--primaryColor);
    color: var(--bgColor);
}

/*LANGUAGE BUTTONS*/
#language-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.language-button {
    width: 100px;
    height: 100px;
    color: var(--textPrimary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}

#level-end {
    display: none;
    text-align: center;
    background-color: var(--bgColor);
    color: var(--textPrimary);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in-out;
}

#level-end.hidden {
    display: none;
}

#level-end.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#level-end h2 {
    color: var(--primaryColor);
    margin-bottom: 20px;
}

#level-end p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#level-end button {
    background: var(--primaryColor);
    border: none;
    color: var(--bgColor);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background 0.3s;
    border: 1px solid var(--primaryColor);
}

#level-end button:hover {
    color: var(--primaryColor);
    background-color: var(--bgColor);
    border: 1px solid var(--primaryColor);
}

#form-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container {
  padding: 20px;
  background-color: var(--textPrimary);
  border: 1px solid var(--textSecondary);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form-login h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--bgColor);
}

#form-login .form-group {
  margin-bottom: 20px;
}

#form-login label {
  display: block;
  margin-bottom: 10px;
  color: var(--textSecondary);
}

#form-login input {
  width: 90%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
}

#form-login button {
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: var(--bgColor);
  color: var(--textPrimary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#form-login button:hover {
  background-color: var(--primaryColor);
}


details {
  font-family: Jost, sans-serif;
  color: var(--textSecondary);
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--textPrimary);
  padding: 20px;
  border: 1px solid var(--primaryColor);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

details summary {

  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

details p {
  font-size: 14px;
  margin-bottom: 20px;
}

details strong {
  font-weight: bold;
  color: var(--textSecondary);
}
